/* Chargement des différentes variables */
@import "./sass/Utils/variables";
@import "./sass/Utils/mixin";
@import "./sass/Base/base";
@import "./sass/Pages/index";

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: fit-content;
    scroll-behavior: smooth;
  }