/* Header */
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__logo {
    font-family: Shrikhand, "cursive";
    margin: 0;
    text-align: center;
    font-size: 30px;
  }
  & a {
    position: absolute;
    left: 20px;
    color: #000;
    font-size: 25px;
  }
}

.title {
display: block;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  background-color: #eaeaea;
  & i {
    padding-right: 20px;
  }
}

.container {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.container2 {
  margin: 0 auto;
  padding: 20px;
}

.fonctionnement-list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 992px) {
  .fonctionnement-list {
    flex-direction: column;
    margin-bottom: 2em;
  }
}
.fonctionnement-list_cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  padding: 20px 35px 20px 35px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  font-weight: 700;
  box-shadow: 1px 11px 14px 0px rgba(130, 130, 130, 0.38);
}
.fonctionnement-list_cards i {
  padding-right: 30px;
  color: #7e7e7e;
}
.fonctionnement-list_cards .listing {
  position: absolute;
  left: 0;
  transform: translate(-15px);
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
}
.fonctionnement-list_cards:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.fonctionnement-list_cards:hover i {
  color: #9356DC;
}

.btn2 .btn {
  display: block;
  width: 100%;
  max-width: 16em;
}

.btn {
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #ba62db 100%);
  box-shadow: 1px 11px 14px 0px rgba(130, 130, 130, 0.38);
  padding: 20px;
  color: #FFF;
  font-family: "Roboto";
  text-decoration: none;
  border-radius: 50px;
  transition: 400ms;
  border-style : none
}
.btn:hover {
  background: linear-gradient(180deg, #ff99e2 0%, #dc7bff 100%);
  box-shadow: 1px 11px 14px 0px rgba(109, 109, 109, 0.699);
  cursor: pointer;
}

.reservation__tablette {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  height: 290px;
&__tablette h2 {
  margin: 0;
  font-size: 2.5em;
}
&__tablette p {
  font-weight: 300;
  font-size: 1.6em;
}
}

@media (max-width: 768px) {
  .reservation__tablette h2 {
    width: 220px;
    font-size: 1.5em;
  }
}
@media (max-width: 768px) {
  .reservation__tablette p {
    width: 280px;
    font-size: 1em;
  }
}

/* Articles */  



  .carte-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
  @media screen and (min-width: 768px) {
    .carte-grid {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      width: -webkit-fill-available;
    }
    .carte {
      width: inherit;
    }

      }
  @media (min-width: 64rem) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  } 
  .carte {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    &__image {
      height: 12rem;
      width: 100%;
      border: 0 solid transparent;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
    }
    &__nouveau {
      background-color: #99e2d0;
      color: #1b6150;
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
    }
    &__down {
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center;
    }
    &__contenu {
      flex: 1;
    }
    &__titre {
      margin: 0 0 0.25rem;
    }
    &__titre2 {
      margin: 0;
    }
    &__btn {
      height: 2rem;
      width: 2rem;
      background-color: initial;
      border: 0 solid transparent;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .footer {
    background-color: #353535;
    margin: 0 auto;
    &__logo {
      color: #fff;
      font-family: Shrikhand, "cursive";
      font-size: 1.2rem;
      margin: 0 0 1rem;
    }
    &__menu {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  &__submenu {
    margin: 0.5rem 0;
  }
  &__submenu:first-child {
    margin-top: 0;
  }
  &__submenu:last-child {
    margin-bottom: 0;
}
&__link {
  color: #fff;
  text-decoration: none;
}
&__link:hover {
  text-decoration: underline;
}
&__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }  
